.videoRow {
    margin-right: 5px;
    width: 210px;
    margin-bottom: 20px;
}

.videoRow  > img {
    height: 117.8px;
    width: 210px;
}

.videoRow_text > h3 {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    padding-right: 20px;
    line-height: 16px;
}

.videoRow_text {
    padding-right: 0;
}

.videoRow_text > p {
    font-size: 13px;
    color: rgb(147,147,147);
}

.videoRow_text .videoRow_channel {
    display: flex;
    align-items: center;
}

.videoRow_text .verifiedIcon{
    margin-left: 2px;
    font-size: 12px !important;
}

.videoRow_text .videoRow_details {
    display: flex;
    align-items: center;
}

